*.swp
*.swo
deps*/*
objs*/*
objs_dis*/*
asmouts*/*
preprocs*/*
small_code_testing_things/*
symbols.txt
linker_map.txt
*.gdb_history*
tags
types_*.taghl
*.bin
instructions_and_encodings.txt
used_addresses.txt
*.txt.ignore
open_all_source_files_in_vim.sh
